@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>
    Movies
</h2>

<button type="button" class="btn" onclick="var NewMovie = function () { window.location = 'Movies/NewMovie' }; NewMovie()">NEW MOVIE</button>

<table class="table table-bordered table-hover">
    <tr> <th style="text-align: center"> Movie </th>        <th style="text-align: center"> Genre </th> </tr>

    @foreach (var movie in @Model)
    {
        <tr> <th style="text-align: center"> <a href="Movies/EditMovie/@movie.Id"> @movie.Name </a> </th> <td style="text-align: center">@movie.Genre.Name</td> </tr>
    }
</table>



