@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>
    Movies
</h2>

<button type="button" class="btn" onclick="var NewMovie = function () { window.location = 'Movies/NewMovie' }; NewMovie()">NEW MOVIE</button>

<table id="movies" class="table table-bordered table-hover" style="margin-top: 15px">
    <tr>
        <th style="text-align: center"> Movie </th>
        <th style="text-align: center"> Genre </th>
        <th style="text-align: center">Delete</th>
    </tr>

    @foreach (var movie in @Model)
    {
        <tr>
            <th style="text-align: center"> <a href="Movies/EditMovie/@movie.Id"> @movie.Name </a> </th>
            <td style="text-align: center">@movie.Genre.Name</td>
            <td style="text-align: center">
                <button data-movie-id="@movie.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#movies .js-delete").on("click", function() {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        })
                    }
                });
            });
        });
    </script>
}








